* {
    padding: 0;
    margin: 0;
}

li {    
    text-decoration: none;
    display: inline;    
    font-size: 27px;
}

#menu ul a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header {
    
    background-color: #FFD400;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 22px;
}

header .socialmedia {
    margin-left: 30px;

}

.carrusel img{
    display:block;
    margin-top: 50px;;
    margin-left: auto;
    margin-right: auto;
   
}

.socialmedia p {
    background-color: red;
    display: inline-block;
    
}

.baner1 img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.fecha .fecha_nombre {
    display: flex;
    justify-content: space-between ;
    margin: 0 100px 0 100px;
    padding: 30px;
}

.footer {
    background-color: black;
    padding: 20px;

}
.footer ul li a {   
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;        
    font-family: 'Roboto',sans-serif;
}

#peanuts {
    font-size: 50px;
}

#menu {
    background-color: black;    
    text-align: center;
    padding: 20px;
    font-family: 'Roboto',sans-serif;
    
}