* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  position: relative;
}
.pelota {
  /* transition: all 5s ease-out; */
  position: absolute;
  background: red;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  top: 60px;
  left: 37.5px;
  animation: rebotar 5s infinite, difuminar 5s infinite;
}
@keyframes rebotar {
  0% {
    top: 60px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 60px;
  }
}
@keyframes difuminar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* @keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */






/* .containerf {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  animation: trasladar 2s infinite;
}
.cuadrado {
  background: blue;
  height: 25px;
  width: 25px;
  opacity: 1;
  transition: all 5s ease-out;
}
@keyframes trasladar {
  from {
    justify-content: flex-start;
  }
  to {
    justify-content: flex-end;
  }
} */