* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    position: relative;
}

.pelota {
    position: absolute;
    background: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: 10.5px;
    left: 10.5px;
    transform-origin: 37.5px 37.5px;
    animation: rotar 5s infinite linear, colorChange 5s infinite linear;
}

.sec,
.min {
    display: block;
    position: absolute;
    width: 1px;
    left: 48px;
    top: 48px;
    transform-origin: 0 0;
}

.point {
    background: pink;
    position: absolute;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    top: 45px;
    left: 45px;
}

.sec {
    background: black;
    height: 30px;
    animation: rotar 10s infinite linear;
}

.min {
    background: orange;
    height: 48px;
    animation: rotar 5s infinite linear;
}

.pelotaPuntero {
    position: absolute;
    background: green;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    top: 10.5px;
    left: 10.5px;
    transform-origin: 37.5px 37.5px;
    animation: rotar 5s infinite linear;
}

.bloque1,
.bloque2,
.bloque3,
.bloque4 {
    position: absolute;
    background: green;
    border-radius: 0%;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 0px;
}

.bloque2 {
    background: red;
    top: 0px;
    left: 35.5px;
    transform-origin: 37.5px 37.5px;
    animation: rotar 5s infinite linear, colorChange 5s infinite linear;
}

.bloque3 {
    background: yellow;
    top: 0px;
    left: 71px;
}

.bloque4 {
    background: teal;
    height: 25px;
    width: 96px;
    top: 50px;
    left: 0px;
}

@keyframes colorChange {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}


/* @keyframes rebotar {
    0% {
        top: 60px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 60px;
    }
} */

@keyframes difuminar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotar {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(405deg);
    }
}


/* .containerf {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: flex-start;
  animation: trasladar 2s infinite;
}
.cuadrado {
  background: blue;
  height: 25px;
  width: 25px;
  opacity: 1;
  transition: all 5s ease-out;
}
@keyframes trasladar {
  from {
    justify-content: flex-start;
  }
  to {
    justify-content: flex-end;
  }
} */