/* espacio */
/* div.container p {
  color: violet;
  font-size: 40px;
} */

/* > */
/* div.container > p {
  color: violet;
  font-size: 40px;
} */

/* + */
/* div + p {
  color: violet;
  font-size: 40px;
} */

/* ~ */
div ~ p {
  color: violet;
  font-size: 40px;
}