<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="../../style.css">
<script defer src="header.js"></script>
<script defer src="../../services/data.js"></script>
<header>
  <nav class="row jty-center center">
    <img src="https://s.starladder.com/uploads/tms/player/image/17734/f3ab9515754c4f9efac4113d22b838f3.png" alt="" class="m-10">
    <ul class="row jty-center center m-0 p-0">
      <li class="m-10">Andrea</li>
      <li class="m-10">Daniela</li>
      <li class="m-10">Natalia</li>
      <li class="m-10">Chinchilla</li>
      <li class="m-10">Scar</li>
      <li class="m-10">Igor</li>
      <li class="m-10">Miguel</li>
      <li class="m-10">Luis</li>
    </ul>
  </nav>
</header>