
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #E1AFE4, #662877, #c178d2, #9e3fbc, #dfa0d5 );
}
.calculadoraGrilla{
display: grid;
justify-content: center;
align-content: center;
min-height: 100vh;
grid-template-columns: repeat(4, 100px);
grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
.calculadoraGrilla > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.screen{
    grid-column: 1 / -1;
    background-color: #662877;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .output{
    color: black;
    font-size: 1.60rem;
    text-align: right;
}
.calculadoraGrilla > button:hover {
    background-color: rgba(255, 255, 255, .9);
}
